#logging {
    position: relative;
    top: 5rem;
  }
  @keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
  #loggingText {
    position: relative;
    top: 4rem;
    left: -1rem;
    font-size: 1.2rem;
    font-family: cursive;
    animation: blink 3s linear infinite;

}